@import "../../../../assets/scss/sharedStyles/variables.scss";

.consultations {
  padding: 30px;
  p {
    color: $primary-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .table {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    .header {
      display: flex;
      align-items: center;
      .pic {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        position: relative;
        img {
          padding: 0;
        }
      }
      .btns {
        button {
          border-radius: 7px;
          color: #fff;
          background-color: #dbdbdb;
          border: none;
          margin: 0 30px;
          width: 80px;
        }
        .active {
          background-color: #e1a553;
        }
      }
    }
  }
}
